<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i>
    Incorrect username or password
 </div>
  <form id="login-form"  #loginForm="ngForm"  class="form" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input class="input100" #UserName ngModel name="UserName" type="text" placeholder="Enter username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input class="input100" type="password" #Password ngModel name="Password" placeholder="Password" placeholder="Enter password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit"  [disabled]="!loginForm.valid"  color="success" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>